/* Define the vars you need */
:root {
  --my-backdrop-filter: blur(8px);
  
  --my-border-color: #1B5E20;
  --my-focus-border-color: #4169E1;
  --my-hover-border-color: #DC143C !important; 
  --my-border-width: 5px !important;
  --my-border-radius: .375rem;
  --my-font: "zelda";
}

/* First, define the font using @font-face */
@font-face {
  font-family: 'zelda';
  src: url('/fonts/Triforce.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Font Styles */
* {
  font-family: var(--my-font) !important;
  color: #FFD700 !important;
  font-weight: normal !important;
}

/* Font Styles */
*:hover {
  font-family: var(--my-font) !important;
  color: #DC143C !important;
  font-weight: normal !important;
}

/* Background */
#page_container {
  content: "";
  position: fixed;
  background: url('/images/zelda.jpg') no-repeat center center fixed;  
  background-size: cover;
}

/* Service Widgets Border Styles */
#information-widgets,
.bookmark-text,
.service-card {
  border-width: var(--my-border-width);
  border-radius: var(--my-border-radius);
  border-color: var(--my-border-color);
  backdrop-filter: var(--my-backdrop-filter);
  padding: 1px;
  margin: 5px;
  border-spacing: 0;
}

@keyframes borderGradient {
  0% {
    border-image: linear-gradient(0deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
  5% {
    border-image: linear-gradient(18deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
  10% {
    border-image: linear-gradient(36deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
  15% {
    border-image: linear-gradient(54deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
  20% {
    border-image: linear-gradient(72deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
  25% {
    border-image: linear-gradient(90deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
  30% {
    border-image: linear-gradient(108deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
  35% {
    border-image: linear-gradient(126deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
  40% {
    border-image: linear-gradient(144deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
  45% {
    border-image: linear-gradient(162deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
  50% {
    border-image: linear-gradient(180deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
  55% {
    border-image: linear-gradient(198deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
  60% {
    border-image: linear-gradient(216deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
  65% {
    border-image: linear-gradient(234deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
  70% {
    border-image: linear-gradient(252deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
  75% {
    border-image: linear-gradient(270deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
  80% {
    border-image: linear-gradient(288deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
  85% {
    border-image: linear-gradient(306deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
  90% {
    border-image: linear-gradient(324deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
  95% {
    border-image: linear-gradient(342deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
  100% {
    border-image: linear-gradient(360deg, var(--my-border-color), rgba(255,255,255,0.2), var(--my-hover-border-color)) 1;
  }
}

[id$="-tab"].active {
  animation: borderGradient 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  will-change: border-image;
}

/* All Tab Styles */
#myTab {
  padding: 5px;
  background: none;
  backdrop-filter: none;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

/* Tab Border Styles */
button[id$='-tab'] {
  border-width: var(--my-border-width);
  border-radius: var(--my-border-radius);
  border-color: var(--my-border-color);
  backdrop-filter: var(--my-backdrop-filter);
  padding: 1px;
  margin: 1px;
  border-spacing: 0;
}

/* Tab:focus Styles */
button[id$='-tab']:focus {
  animation: borderGradient 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  will-change: border-image;
}

/* Service Card Styles */
.service-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Information Widgets Spacing */
.information-widget-resource {
  margin-left: 42px;
  margin-right: 42px;
  gap: 20px;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  #myTab {
    padding: 5px;
    background: none;
    backdrop-filter: none;
    display: flex;
    justify-content: flex-start;  
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  button[id$='-tab']::focus::hover {
    border-width: var(--my-border-width);
    padding: 10px;
    margin: 0;
    width: calc(50% - 5px);
    justify-content: center;
  }
}

/* Landscape-specific Mobile Styles */
@media screen and (max-width: 850px) and (orientation: landscape) {
  #widgets-wrap,
  .service-card  {
    gap: 1em;
  }
  .information-widget-resource {
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
    justify-content: center;		
  }
  #myTab {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    padding-bottom: 10px;
    gap: 5px;
  }
  button[id$='-tab']::focus::hover {
    border-width: var(--my-border-width);
    margin: auto;
    width: 100%;
  }
}

/* Portrait-specific Mobile Styles */
@media screen and (max-width: 480px) and (orientation: portrait) {
  #widgets-wrap,
  .service-card  {
    gap: 1em;
  }
  .information-widget-resource {
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
    justify-content: center;		
  }
  button[id$='-tab']::focus::hover {
    border-width: var(--my-border-width);
    margin: auto;
    width: 100%;
  }
}

/* Recently Added Section */
#list > div > div.relative.flex.flex-row.w-full.service-container > div > div {
  display: block;
  text-align: right;
  
}

#list > div > div.relative.flex.flex-row.w-full.service-container > div > div > div.flex.flex-row.text-right > div:nth-child(1) {
  text-align: left;
  margin-left: .5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#list > div > div.relative.flex.flex-row.w-full.service-container > div > div > div.flex.flex-row.text-right > div:nth-child(2) {
  text-align: right;
  margin-left: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Recently Added */
#list>div>div.relative.flex.flex-row.w-full.service-container {
    &>div>div {
        display: block;
        text-align: right;
    
        &>div.flex.flex-row.text-right {
    
            &>div:nth-child(1) {
                text-align: left;
                margin-left: .5rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    
            &>div:nth-child(2) {
                text-align: right;
                margin-left: auto;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &>div.flex.flex-row.text-right:hover {
    
            &>div:nth-child(1) {
                text-align: left;
                margin-left: .5rem;
                white-space: wrap !important;
            }
    
            &>div:nth-child(2) {
                text-align: right;
                margin-left: auto;
                white-space: wrap !important;
            }
        }		
    }
}





/*==================================
  FOOTER GROUP STYLES
==================================*/
#footer {
  display: none;
}





















